@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);
*,::after,::before{box-sizing:border-box}
body,html{margin:0;font-family:Poppins,sans-serif}
.top_banner{background:url(../images/top-banner.png) no-repeat;margin-bottom:4rem}
.flex-box{display:flex;justify-content:center;padding:0 6em}
.text_area{margin-right:10%;width:100%}
.text_area_2{margin-left:13%;width:100%}
.text_area h1,.text_area_2 h1{font-size:3em}
.dark_black{color:#696969}
.orange-color{color:orange}
.bloobs_area img{max-width:550px}
.hire-me-button{background:linear-gradient(45deg,#ffa07a,tomato);border:none;padding:.8em 2em;color:#fff;font-size:1rem;text-transform:uppercase;font-weight:700;border-radius:5px}
.dream_area{background:url(../images/dream-bg.png) no-repeat right}
.experience_area{background:url(../images/exp-bg.png) no-repeat left}
.experience_area h1{margin:20px auto;font-size:2.5rem}
.experience_area h3{color:orange}
.grid_box{display:grid;grid-template-columns:repeat(2,1fr);gap:3.5rem;margin:2rem 6em 10rem}
.child_box{border-left:7px solid #00f;padding:1rem 1.5rem 5rem;box-shadow:4px 6px 35px -8px}
.child_box:nth-child(1){border-left:7px solid #ff4500}
footer p{text-align:center}